# Node modules
/node_modules/
/web/node_modules/
/api/node_modules/

# Build output
/web/.nuxt/
/api/build/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE specific files
.idea/
.vscode/
.DS_Store

# Miscellaneous
/dist/

.secret